<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="chat-form">
        <h1>Agregar Producto</h1>
        
        <form id="chat-form">
            <input type="text" id="message" placeholder="nombre del producto" required>
            <button type="submit">Enviar</button>
        </form>
    </div>

     <div id="products">
        <h1>Lista de productos</h1>
        <div id="chat-products"></div>
        
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>

</body>

</html>